<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat&display=swap" rel="stylesheet">

<!-- NAVBAR -->
<nav id="navbar">

  <ul>

    <li><a class="section-link" href="#welcome-section"><i class="fas fa-chevron-right"></i>Welcome</a></li>

    <li><a class="section-link" href="#about-section"><i class="fas fa-chevron-right"></i>About</a></li>

    <li><a class="section-link" href="#projects"><i class="fas fa-chevron-right"></i>Projects</a></li>

    <li><a class="section-link" href="#contact-section"><i class="fas fa-chevron-right"></i>Contact</a></li>

  </ul>

</nav>

<!-- WELCOME -->
<section id="welcome-section">

  <h1>Hi to all! </h1>

  <a id="link-to-contact" href="#contact-section">Contact me</a>

  <a id="link-to-about" href="#about-section"><i class="fas fa-chevron-down"></i></a>

</section>

<!-- ABOUT -->
<section id="about-section">

  <h1>About Me</h1>

  <div class="about">
    <div class="image col-12 col-lg-6 text-center">
        <img src="https://res.cloudinary.com/dovgg3ahh/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1605006906/IMG_3530_bsdg7m.jpg" style="height: 350px;"alt="image of the site owner">
    </div>

    <div class="info">
      <p>Hey, this is Hakan. I have worked as technical consultant and supported people to solve their technical issue. It was the time when I wanted to understand how all these products were built. After that I decided to learn how to code and basicly that's how I enrolled.</p>
      <p>I have graduated from Le Wagon Fullstack web developer program. I have completed 500 hours of coding with Le Wagon and excited to apply new skills in HTML, CSS, Ruby, Ruby on Rails and Javascript on a job. I have German work visa due to family reunification, so would not need visa sponsorship. I speak English and actively learning German (currently starting B1).</p>
    </div>
  </div>

  <a id="link-to-project" href="#projects"><i class="fas fa-chevron-down"></i></a>

</section>

<!-- PROJECTS -->
<section id="projects">

  <h1>My Projects</h1>

  <div id="projects-gallery">

    <div class="project-tile">
      <a href="https://kofffer.herokuapp.com/" target="_blank">
        <img class="webpage-img" src="https://res.cloudinary.com/dovgg3ahh/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1605003711/koffer_iqrr6y.jpg" alt="webpage screen">
      </a>
      <p class="project-caption">Koffer</p>
    </div>

    <div class="project-tile">
      <a href="https://friendlyyy.herokuapp.com/friend_groups" target="_blank">
        <img class="webpage-img" src="https://res.cloudinary.com/dovgg3ahh/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1605003708/friendly_kt4kx4.jpg" alt="webpage screen">
      </a>
      <p class="project-caption">Friendly</p>
    </div>

    <div class="project-tile">
      <a>
        <div class=placeholder-img>
          <p>Coming soon</p>
        </div>
      </a>
      <p class="project-caption">Other</p>
    </div>

  </div>

    <a id="link-to-contacts" href="#contact-section"><i class="fas fa-chevron-down"></i></a>

</section>

<!-- CONTACT -->
<section id="contact-section">

  <div id="contact">

    <h2>Contact</h2>

    <h3>Find my profiles or send email:</h3>

    <ul id="links-list">
      <li><a href="https://github.com/hknbyk" target="_blank"><i class="fab fa-github"></i>GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/hakanbiyik/" target="_blank"><i class="fab fa-linkedin"></i>Linkedin</a></li>
      <li><a href="mailto:hakanbiyik91@gmail.com"><i class="fas fa-envelope"></i>Email</a></li>
    </ul>

  </div>

  <!-- FOOTER -->
  <div id="footer-container">
    <footer>
      <p></p>

      <p>Made with <i class="fas fa-heart"></i> by <b>Hakan</b></p>
    </footer>
  </div>
</section>